<header class="home-header">
  <h1 class="mat-title head-title">PlanX Planning System</h1>
  <h2 class="head-sub-title">Usable, Interoperable and Reusable Planning Functionalities</h2>

  <button mat-button mat-raised-button class="header-main-btn" routerLink="/modelling">Start Modelling</button>
</header>
<main fxFlex class="content">
  <div fxLayout="row" class="content-row">
    <div fxLayout="column">
      <h2>Usability</h2>
      <p>Usability is ensured according to the following criteria:</p>
      <mat-list dense>
        <mat-list-item> Effectiveness</mat-list-item>
        <mat-list-item> Efficiency</mat-list-item>
        <mat-list-item> User satisfaction</mat-list-item>
      </mat-list>
    </div>
    <div fxLayout="column">
      <h2>Interoperability</h2>
      <p>Interoperability is thus composed of the following factors:</p>
      <mat-list dense>
        <mat-list-item> Organizational interoperability</mat-list-item>
        <mat-list-item> Semantic interoperability</mat-list-item>
        <mat-list-item> Syntactic interoperability</mat-list-item>
        <mat-list-item> Connectivity interoperability</mat-list-item>
      </mat-list>
    </div>
    <div fxLayout="column">
      <h2>Reusability</h2>
      <p>Reusability is composed of four quality characteristics:</p>
      <mat-list dense>
        <mat-list-item> Portability</mat-list-item>
        <mat-list-item> Flexibility</mat-list-item>
        <mat-list-item> Understandability</mat-list-item>
        <mat-list-item> Confidence</mat-list-item>
      </mat-list>
    </div>
  </div>
  <mat-divider></mat-divider>
  <h2 class="section-title">Featured Functionality Classes:</h2>
  <div fxLayout="row" class="content-row">
    <div fxLayout="column">
      <h3>Core Functionalities</h3>
      <p>
        Leonard-Barton, Prahalad and Hamel defined core functionalities as functionalities which satisfy the following three
        criteria:
      </p>
      <ul>
        <li>
          Does the competence provide access to a wide variety of markets?
        </li>
        <li>
          Does the competence make a significant contribution to the perceived customer benefits of the end
          products?
        </li>
        <li>
          Is the competence challenging to imitate?
        </li>
      </ul>
      <p>
        Applied to the context of AI planning, the question to be answered is the significant contribution to the
        perceived customer benefit.
      </p>
    </div>
    <div fxLayout="column">
      <h3>Enabling Functionalities</h3>
      <p>
        Enabling functionalities are defined as functionalities that do not provide a competitive advantage on their own but
        are necessary for other functionalities.
      </p>
    </div>
    <div fxLayout="column">
      <h3>Supplemental Functionalities</h3>
      <p>
        Supplemental functionalities are easily accessible and provide a competitive advantage for the user. This class of
        functionalities often requires enabling functionalities to run.
      </p>
    </div>
  </div>
  <div fxLayout="row" class="content-row">
    <div fxLayout="column">
      <h3>Endpoint Functionalities</h3>
      <p>
        Endpoint Functionalities are sink or source nodes from a technical point of view at the system level.
      </p>
    </div>
    <div fxLayout="column">
      <h3>Transforming Functionalities</h3>
      <p>
        Transforming functionalities convert change one datastructures to another. Thereby a defined behavior is taken into account.
      </p>
    </div>
    <div fxLayout="column">
      <h3>System-Managing Functionalities</h3>
      <p>
        System management functionalities consume data flow and respond to given conditions.
      </p>
    </div>
    <div fxLayout="column">
      <h3>Routing Functionalities</h3>
      <p>
        The routing function helps to route messages through the system.
      </p>
    </div>
  </div>
</main>
